langchain
langchain-community
langchain-core
langgraph
langchain-google-vertexai
langchain-chroma
google-cloud-aiplatform
pypdf
pydantic
pydantic-settings
pytest
pytest-asyncio
PyGithub
python-dotenv
docker
networkx
