chromadb
docker
langchain
langchain-chroma
langchain-community
langchain-google-vertexai
langchain-text-splitters
networkx
pydantic
pydantic-settings
PyGithub
pypdf
pytest
pytest-asyncio
python-dotenv
